.Card {
    position: relative;
    box-shadow: 0px 0px 20px -5px rgb(219, 243, 243);
}

.Img {
    overflow: hidden;
    border-radius: 1rem;
    width: 100%;
}

.Content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    width: 100%;
    padding: 10px 0px;
    border-radius: 0px 0px 1rem 1rem;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur( 8px );
}

.Content > i {
    background-color: #fff;
    color: #6FD38D;
    padding: 13px 15px;
    border-radius: 0.8rem;
    margin-right: 1rem;
}

.Text > h5, .Text > h6 {
    color: #fff;
    font-weight: 500;
}