.SectionContainer {
    padding: 1rem;
}

.CardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}



@media (max-width: 1280px) {
    .CardContainer {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}

@media (max-width: 1050px) {
    .CardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .CardContainer {
        grid-template-columns:1fr;
        gap: 1rem;
    }
}